.addTask {
    margin-left: 15px;
  }
  
  .submitButton {
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-family: inherit;
    background-color: rgb(214, 214, 214);
    font-weight: bold;
  }
  
  .input {
    font-size: 1vw;
    width: 250px;
    height: 1.4vw;
    margin-right: 0.5vw;
    background-color: rgb(255, 255, 255);
  }
  