.container {
  font-size:26px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &-theme-dark{
    background-color:rgb(37, 37, 37);
    align-items: flex-start;
  }
  
  &-theme-light{
    background-color:rgb(165, 165, 165);
  }
  
  padding: 15px;
}

.input {
    margin-left: 15px;
    margin-right: 15px;
    width: 500px;
    height: 30px;
    font-size: 20px;
}
  